# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# Testing evidence (except we WANT to keep the PDF for the viva, so we won't ignore it)
# fortix-evidence.pdf # explicitly kept

# Vite output
/dist

# Local artifact storage
/storage
